
@{Layout = null;}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cajero</title>
</head>
<body>
    <div>

        <h1>Querido usuario la cantidad ingresada no puede ser retirada , ingrese otra cantidad </h1>
    </div>
</body>
</html>

