
@{Layout = null;}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bienvenido</title>
</head>
<body>
    <div>

        <h1>Su transaccion se a ejecutado con exito </h1>
    </div>
</body>
</html>

